.center-button {
  text-align: center;
}

.taller-nav {
  height: 60px;
}

.larger-icons {
  font-size: 25px;
}

.left-button-shift {
  margin-left: 20px;
}

.right-button-shift {
  margin-right: 20px;
}
